<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          &copy; <%= (config.since || theme.since) ? (config.since || theme.since) + " - " : "" %><%= date(new Date(), 'YYYY') %> <%= config.author || theme.author || config.title || theme.title %>
        <p class="copyright text-muted">
          <%= __('theme_by') %> <a target="_blank" href="https://github.com/levblanc">Levblanc.</a>
          <%= __('powered_by') %> <a target="_blank" href="http://hexo.io/">Hexo</a>
        </p>
      </div>
    </div>
  </div>
</footer>
